html, body{
	position: relative;
    height: 100%;
    color:$lg-blue;
}

main{
	position: relative;
    height: 100%;
    padding-top:75px;
}

.padding{
	width:93.5%;
}

.width{
	max-width:1100px;
}

.center{
	margin:0 auto;
}

.line{
	display:inline-block;
	height:100%;
	width:1px;
	background:rgba(white, .25);
	position:absolute;
	@include center-h;
	top:0;
	bottom:0;

	&.grey{
		background:$grey;
	}

	@media screen and (max-width: $premobile) {
		width:100%;
    	height:1px;
    	margin:50px 0;
    	position:relative;
    }
}

a.btn ,.btn{
	padding: 15px 35px;
	border:2px solid $lg-lightblue;
	display:inline-block;
	overflow:hidden;
	position:relative;
	transition: background .25s ease, padding .25s ease;
	line-height:1;

	// &:after{
	// 	content:'';
	// 	width:100%;
	// 	height:100%;
	// 	background-color:$lg-lightblue;
	// 	top:-100%;
	// 	position:absolute;
	// 	left:0;
	// 	right:0;
	// 	bottom:0;
	// 	transition:.25s ease;
	// 	z-index:-1;
	// }

	&:hover{
		background-color:$lg-lightblue;
		color:white;
		padding:15px 40px;

		// &:after{
		// 	top:0;
		// }
	}
}

//TEXT COLOR

.blue{
	color:$lg-blue;
}

.lightblue{
	color:$lg-lightblue;
}

.white{
	color:white;
}

.bluegrey{
	color:$bluegrey;
}

//FLOATS

.left{
	float:left;
}

.right{
	float:right;
}

// CLEARFIX

.clear {
  &::before,
  &::after {
    content:' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}