nav{
	border-bottom: 1px solid $grey;
	padding:25px 0; 
	text-align:center;
	position:fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index:100;
    background:white;

    .nav-wrapper{
    	width:95%;
    	height:100%;
    	position:relative;
    	margin:0 auto;
    	display:inline-block;
    }

	.logo{
		position:absolute;
    	@include center;

		a, img{
			display:block;
		}
	}

	a{	
		transition:.25s ease;

		&:hover{
			opacity:.5;
		}
	}

	.nav-links{

		li{
			display:inline-block;
			margin:0 15px;

		}
	}
	
    @media screen and (max-width: 1080px) {
	    .nav-links {
	        float: right;
    		margin-right: 90px;
	    }
	}

	.contact{
		position: absolute;
		right:0;
    	@include center;
	}
}