nav{
	border-bottom: 1px solid grey;
	padding:25px; 
	text-align:center;
	position:relative;

	.logo{
		position:absolute;
		top:50%;
		transform: translateY(-50%);

		a, img{
			display:block;
		}
	}

	.nav-links{
		margin:0 auto;

		li{
			display:inline-block;
			margin:0 15px;
		}
	}
}