// DESKTOP NAV

nav{
	// border-bottom: 1px solid $grey;
	box-shadow: 0 0 25px -4px rgba(0, 0, 0, 0.15);
	text-align:center;
	position:fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index:100;
    background:white;
    font-size:0;
    transition: box-shadow .35s ease;

    .nav-wrapper{
    	height:100%;
    	position:relative;
    	margin:0 auto;
    	display:inline-block;
    }

	.logo{
		position:absolute;
    	@include center;

		a, img{
			display:block;
		}

		img{
			width:180px;
		}
	}

	a{	
		transition:.35s ease;
		display:inline-block;
		position:relative;

		&.link{
			&:after{
				content: '';
			    background: #1CA2DD;
			    height: 4px;
			    width: 4px;
			    border-radius: 100%;
			    position: absolute;
			    left: 6px;
	    		top: 51% !important;
			    @include center;
			    opacity:0;
			    transition:.35s ease;
			    // transform:transformY(-50%) translateX(5px);
			}

			&:hover{
				opacity:1;
				color: $lg-lightblue;

				&:after{
					opacity:1;
					// transform:translateX(0);
				}
			}

			&.active{
				&:after{
					opacity:1;
				}
			}
		}

		&:hover{
			opacity:.5;
		}
	}

	.nav-links{

		li{
			display:inline-block;

			a{
				padding:25px 15px;
			}

			&.has-menu{
				position:relative;

				.dropdown{
					position: absolute;
				    background: white;
				    padding: 5px 25px 10px 15px;
				    text-align:left;
				    opacity:0;
				    transition: .5s ease;
				    pointer-events:none;
				    border-top: 1px $lg-lightblue solid;
					box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.15);

				    a{
				    	display:block;
				    	padding:5px 0;
				    }
				}

				&:hover{
					.dropdown{
						opacity:1;
				   		pointer-events:auto;
					}
				}
			}
		}
	}

	@media screen and (max-width: 865px) {
		height:70px;

		.nav-links, .contact{
			display:none;
		}
	}

    @media screen and (max-width: 1080px) {
	    .nav-links {
	        float: right;
    		margin-right: 90px;
	    }
	}

	.contact{
		position: absolute;
		right:0;
    	@include center;
	}
}

.menu-burger{
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom:0;
    margin: 0 auto;
    @include center;
    display:none;

    @media screen and (max-width: 865px) {
    	display:block;
    }
  
  .color{
    background:$lg-lightblue;
  }

  &:hover{
    .color{
      background:$grey;
    }
  }
  
  .cheeseburger{
    width:30px;
    position:relative;
    
    span{
      height:2px;
      position:absolute;
      transition: .25s ease;
      margin:0 auto;
      left:0;
      right:0;

      &.a{      
        top:8px;
      }

      &.b{      
        top:16px;
      }

      &.c{      
        top:24px;
      }
    }
  }
  
  &:hover{
    span{
      &.a{
        top:6px;
      }
      
      &.c{
        top:26px;
      }
    }
  }
  
  &.open{
    span{
      &.a{
        transform:rotate(40deg);
        top:16px;
      }
      
      &.b{
        opacity:0;
      }
      
      &.c{
        transform:rotate(-40deg);
        top:16px;
      }
    }
  }
}

//MOBILE NAV


.mobile-nav{
	display: inline-block;
    position: fixed;
    right: 0;
    width: 250px;
    top: 0;
    bottom: 0;
    padding: 15px 25px 0;
    transform: translateX(101%);
    transition:.35s ease;
    opacity:0;
    background-color:rgba($grey1,.5);

	&.open{
		display:inline-block;
		transform:translateX(0);
		opacity:1;
	}
}

// .link-mobile{
//     padding: 10px 0;
//     display: block;

// }

// .dropdown{
// 	display:block;
// 	padding:15px 10px;
// }

// .link-mobile, .dropdown{
// 	&.border{
//     	border-color:rgba($grey,.25);
//     }
// }

// .has-menu{
// 	position:relative;

// 	.link-mobile{
// 		&:after{
// 			content:url(../images/down-arrow.svg);
// 			position:absolute;
// 			right:0;
// 			width:10px;
// 		}
// 	}
// }

//MOBILE NAV CODEPEN

.accordion {
  width: 100%;
  max-width: 360px;

  .link {
	  cursor: pointer;
	/*   display: block; */
	  padding: 15px 0;
	  border-bottom: 1px solid rgba($grey,.25);
	  position: relative;
	  transition: all 0.4s ease;
	}

	li i {
	  position: absolute;
	  top: 16px;
	  left: 12px;
	  font-size: 18px;
	  transition: all 0.4s ease;
	}

	a{
		display:inline-block;
		transition: .35s ease;
		width:100%;

		&:hover {
		  color: $lg-lightblue;
		}
	}
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li .d-arrow {
    right: 12px;
    position: absolute;
    width: 10px;
    transition:.35s ease;

    @include center;
}

.accordion li.open .link { color: $lg-lightblue; }

.accordion li.open i { color: $lg-lightblue; }

.accordion li.open .d-arrow {
  transform: rotate(180deg);
  top:40%;
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  padding:15px 0;
  border-bottom: 1px solid rgba($grey,.25);

  a {
	  display: block;
	  text-decoration: none;
	  padding: 5px;
	  padding-left: 15px;
	}
}