nav{
	border-bottom: 1px solid $grey;
	text-align:center;
	position:fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index:100;
    background:white;

    .nav-wrapper{
    	width:95%;
    	height:100%;
    	position:relative;
    	margin:0 auto;
    	display:inline-block;
    }

	.logo{
		position:absolute;
    	@include center;

		a, img{
			display:block;
		}
	}

	a{	
		transition:.25s ease;
		display:inline-block;
		padding:25px 0px;

		&:hover{
			opacity:.5;
		}
	}

	.nav-links{

		li{
			display:inline-block;

			a{
				padding:25px 15px;
			}

			&.has-menu{
				position:relative;

				.dropdown{
					position: absolute;
				    background: white;
				    // border: 1px $lg-lightblue solid;
				    padding: 10px 20px 10px 10px;
				    top: 55px;
				    text-align:left;
				    opacity:0;
				    transform:translateY(-200px);
				    transition: .5s ease;

				    a{
				    	display:block;
				    	padding:5px 0;
				    }
				}

				&:hover{
					.dropdown{
						opacity:1;
				   		transform:translateY(0);
					}
				}
			}
		}
	}

	@media screen and (max-width: 865px) {
		height:70px;

		.nav-links, .contact{
			display:none;
		}
	}

    @media screen and (max-width: 1080px) {
	    .nav-links {
	        float: right;
    		margin-right: 90px;
	    }
	}

	.contact{
		position: absolute;
		right:0;
    	@include center;
	}
}