.hero{
	@include background;
	padding:6em 0;
	// height:300px;
	position:relative;
	min-height:250px;

	&:after{
		content:'';
		@include absolute-pos;
		opacity:.75;
		position:absolute;
		background-color:$lg-lightblue;
	}
}

.hero-title{
	text-align:center;
	z-index:2;
	position:relative;

	p{
		margin-bottom:15px;
	}
}

.page-content{
	padding: 4em 0;
}

.page-textarea{
	width:60%;
	max-width:650px;
	// padding-right:4em;

	.image, hr, blockquote{
		display:inline-block;
	}


	h1, h2, h3{
		margin-bottom:15px;
	}

	p{
		margin-bottom:25px;
	}

	h1, h2, h3, p{
		a{
			border-bottom:1px solid $lg-lightblue;
			transition: background .35s ease;

			&:hover{
				background-color: rgba($lg-lightblue, .25);
			}
		}
	}

	blockquote{
		text-align: left;
	    margin: 5px auto 30px;
   		// display: inline-block;
    	padding-left: 1.5em;
	}

	.image{
		margin:15px 0;
		display:inline-block;
		text-align:center;

		img{
			width:100%;
			margin-bottom:5px;
		}
	}

	hr{
		border: 0;
    	height: 1px;
   		background: $grey;
   		margin:15px 0 30px;
   		width:100%;
	}

	ul,ol{
		&.longform{
			margin-left: 3em;
			color:$lg-lightblue;
			margin-bottom:35px;

			p{
				color:$lg-blue;
				margin:0;
			}	

			li{
				// display:list-item;
				margin-bottom:10px;
				// color:
			// 	&:before{
			// 	color:$bluegrey;
			// 	 content: counter(item) ". ";
		//           counter-increment: item;
			// }
			}	
		}
	}

	ul.longform{
		list-style-type:disc;
	}
}

.page-sidebar{
	width:35%;
	padding-left: 4em;

	a.p{
		transition:color .35s ease;
		position:relative;

		&:after{
			content:url(../images/l-arrow.svg);
			position:absolute;
			right: -14px;
   			bottom: -3px;
			transition:transform .35s ease;
		}

		&:hover{
			color:$lg-lightblue;

			&:after{
				transform:translateX(2px);
			}
		}
	}
}

.page-sidebar_related{
	padding-bottom:2em;
	margin-bottom:2em;

	li{
		padding:2em 0 0;

		.thumb{
			width:30%;
			position:relative;
			border: 1px solid $grey;
			padding-top:18%;
			margin:5px 15px 0 0;

			img{
				width:100%;
				position:absolute;
				@include absolute-pos;
			}
		}

		.project-title{
			width:60%;
		}

		p.h5{
			margin-bottom:5px;
		}
	}
}

.page-sidebar_cta{
	.btn{
		margin-top:15px;
	}
}

.cta-container{
	text-align: center;
    overflow: auto;
    padding: 4em 0 0;

    .inner-content{
	    margin: 3em auto -4em;
		z-index: 10;
    }
}

.cta-box{
    padding: 3em 4em;
    width: 49% !important;
    max-width:100% !important;
}


.linkgroup{
	text-align:left;

	img{
		width:40%;
	}

	.page-textarea{
		padding:0 0 0 2.5em;
	}
}

.linkgroup-list{
	li{
		margin-bottom:15px;
	}

	a{
		transition:.35s ease;
		position:relative;
		display:block;


		&:after{
			content:url(../images/l-arrow.svg);
			position:absolute;
			left: 0;
			bottom: 3px;
			top:0;
			transition:.35s ease;
			opacity:0;
		}

		&:hover{
			transform: translateX(15px);

			&:after{
				opacity:1;
				transform: translateX(-15px);
			}
		}
	}
}

.link-list{
	padding-bottom: 20px;

	li{
		display:inline-block;
		position:relative;

		a{
			transition:.35s ease;

			&:hover{
				opacity:.5;
			}
		}
	}
}

.category-filter{

	li{
		margin-right:10px;

		a{
			color:$lg-lightblue;
			padding:.5em 1em;
			border:1px solid $lg-lightblue;
			border-radius:5px;
			display:inline-block;
		}

		&.active{
			a{
				background-color:$lg-lightblue;
				color:white;
			}
		}

	}
}

.breadcrumbs{
	li{
		margin-right:20px;

		&:after{
			position: absolute;
			content: "";
			height: 75%;
			width: 1px;
			background: $grey;
			right: -11px;
			top: 4px;
			bottom: 0;
		}

		&:last-child{
			a{
				color:$lg-lightblue;
			}

			&:after{
				display:none;
			}
		}
	}
}


